@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root{
  --blue : #1320DC;
  --text-gray : #77798C;
  --pink : #FB0A72;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1320DC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(19, 32, 220, 0.8);
}

body {
  font-size: 1.6rem !important;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif !important;
  background-color:white;
}

  .btn{
      border: 1px solid #f1f1f1;
    } 

    
header{
  
}
.container{
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
  background-color: white;

}

.container-left{
  
  width: 20%;
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  background-color:#f1f1f1 ;
  margin-left: 2rem;
  padding-left: 2rem;
  border-radius: 1rem;

}

.container-left1{
  
  padding: 1rem;

}

.container-left1 P{
  
color:#77798C ;
}
.container-left2 img {
  width: 100%;
  height: 100%;

 

}
.container-left2{
  width: 20px;
  height: 20px;
  margin-right: 1rem;

  
 
}

.container-middle{
  padding: 1rem;
}

.container-right{
  display: flex;
}

#select-langue{
  margin-top: 2rem;
}

.items{
      display: flex;
}
.items1{

  border: 1px solid  rgba(19, 32, 220, 0.8);
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #1320DC;
  cursor: pointer; 
}
.contenu-modal{
  display: flex;
}
#id02{
  background-color: white;
  width: 50%;
  justify-content: center;
}
.contenu-modal2{
  color: #FB0A72;
}
.case{
  display: flex;
  justify-content: space-between;
}
.case-one{
  display: flex;
  border: 1px solid #f1f1f1;
  border-radius: 0.4rem;
  background-color: white;
  padding: 1rem;
}
.case-one-left{
  color: #FB0A72;
}
.case-one-right{
  color: black;
}
.case-two{
  border: #1320DC 1px solid;
  border-radius: 0.4rem;
  background-color: #1320DC;
  padding: 1rem;
  color: white;
}
.tiret{
  display: flex;
  justify-content: space-between;
}
.tiret1{
  border: #f1f1f1 1px solid ;
  
}
.tiret3{
  border: #f1f1f1 1px solid ;
  
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.rat {
  background-color:blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.psw{
  color: #FB0A72;
}

.modal{
  display: none;
  justify-self:center;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: white; 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}

.modal-content{
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.button:hover{
  opacity: 0.8;
}
 

.items2{
  border: 1px solid rgba(19, 32, 220, 0.8) ;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  background-color: #1320DC;
  

}

.para{
  margin: 2rem;
  display: flex;
  justify-content: center;

}
#list{
  margin: 1rem;
  text-decoration: none;
  color: #77798C;
}
.brands{
}
.brands img{
  width: 100%;
  position: relative;
}

.text{
  position:absolute;
  right: 50%;
  top: 50%;
  color: white;
  margin-left: 9rem;
}
.note{
  position:absolute;
  right: 50%;
  top: 65%;
  color: white;
  margin-left: 9rem;

}
.editorial{
  position:absolute;
  right: 81.5%;
  top: 75%;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #FB0A72;

}


.foot{
  margin: 4rem;
  display: flex;
  justify-content: space-around;
}

.foot-left{
  width: 100%;
  height: 300px;
  border-radius: 1rem;
  border: 1px solid #f1f1f1 ;
  background-image:url('../images/xbanner-02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1rem;
}

.deco{
 color: #1320DC;
 margin: 2rem;
}

.foot-middle{
  width: 100%;
  height: 300px;
  border-radius: 1rem;
  border: 1px solid #f1f1f1;
  background-image: url('../images/xbanner-01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1rem;
}


.demo{
  color: #1320DC;
  margin: 2rem;
}

.foot-right{
  width: 100%;
  height: 300px;
  border-radius: 1rem;
  border: 1px solid #f1f1f1;
  background-image: url('../images/xbanner-03.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1rem;
}


.txt{
  color: #1320DC;
  margin: 2rem;

}
.box{
  display: flex;
}

.box-left{
  width: 20%;
  margin: 20px;
  background-color: white;
}
.To{
  margin-left: 1rem;
  color: #1320DC;

}
.tv{
  margin-left: 1rem;
  color:#77798C; 

}
.ph{
  border: 1px solid  #77798C;
  margin: 1rem;
}
.td{
  border: 1px solid #77798C;
  margin: 1rem;
}




.box-right{
  width: 80%;
  background-color:#f1f1f1;
}

.box-head{
  margin: 20px ;
  display: flex;
  justify-content: space-between;

  
}

.box-head-right{
  border: 1px solid white;
  width: 24%;
  margin: 1rem;
  background-color: white;
  border-radius: 0.5rem;
}
.box-head-right1{
  margin: 1rem;
}
.box-head-right1 img{
  width: 100%;
}
.box-head-right2{
  margin: 1rem;
}
.box-head-right3{

  margin: 1rem;
}

.box-head-right4{
  display: flex;
}
.btn-blue{
  border: 1px solid blue;
  margin-left: 1rem;
  width: 50%;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  background-color: #1320DC;

}

.btn-white{
  border: 1px solid blue;
  width: 20%;
  margin-left: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #1320DC;
  background-color: white;
}


.box-middle{
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}
.box-middle-items{
  border: 1px solid white;
  margin: 1rem;
  width: 24%;
  background-color: white;
  border-radius: 0.5rem;
}
.box-middle-items1{
  margin: 1rem;

}

.box-middle-items1 img{
  width: 100%;
}
.box-middle-items2{

  margin: 1rem;
}
.box-middle-items3{
  
  margin-left: 1rem;
}

.box-middle-items4{
  display: flex;
  margin: 1rem;


}

#color{
  color: white;
  text-decoration: none;
}


.box-down{
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}

.box-down-brands{
  border: 1px solid white;
  width: 24%;
  background-color: white;
  border-radius: 0.5rem;
}
.box-down-brands1{
  margin: 1rem;
}
.box-down-brands1 img{
  width: 100%;
}

.box-down-brands2{
  margin: 1rem;
}
.box-down-brands3{
  margin: 1rem;
}

.box-down-brands4{

  margin: 1rem;
  display: flex;

}
.submit{
  margin-left: 45rem;
}


.produit{
  margin:1rem;
  background-color:#f1f1f1 ;

}
.Vetement{
  background-image: url('../images/Untitled-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  width: 95%;
  height: 300px;
  border: 1px solid #f1f1f1;
  margin-left: 2rem;
}


.haut-end{
  display: flex;
  
}

.haut-end1{
  margin-left: 3rem;
}

.haut-end2{
  margin-left: 3rem;
}

.haut-end3{
  margin-left: 3rem;
  width: 10%;

  background-color: black;
}
.haut-end3 img{
  width: 30%
}

.boxs{
  border: 1px solid blue;
  margin: 2rem;
  display: flex;
 
}

.boxs0{
  width: 50%;
  border: 1px solid red;

}
.boxs1{
  border: 1px solid #f1f1f1;
  width: 80%S;
  margin-left: 2rem;
  border-radius: 0.5rem;
}
.boxs1 img{
  width: 70%;
 
}

.boxs2{
  border: 1px solid rebeccapurple;
  width: 50%;


}

.boxs2-head{
  color: #1320DC;
  margin: 1rem;
}

.boxs2-center{
  margin: 1rem;
  color:#77798C;
}

.boxs2-middle{
  margin: 1rem;
   color:#77798C;
}

.boxs2-down{

}

.small-card{
  border: 1px solid orange;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  width: 80%;
}
.small-card1{
  border:#f1f1f1 1px solid ;
  width: 24%;
  border-radius: 0.5rem;
}

.small-card1 img{
  width: 100%;
}

.small-card2{
  border: 1px solid #f1f1f1;
  width: 24%;
  border-radius: 0.5rem;
}
.small-card2 img{
  width: 100%;
}

.article{
  border: 1px solid turquoise;
  background-color:#f1f1f1;
}
#pad{
  margin-left: 2.5rem;
  margin-top: 1rem;
}
.paiement{
  border: 1px solid black;
  background-color:#f1f1f1;
}
.info1{
  border: white 1px solid;
  width: 60%;
  height: 250px;
  margin-left: 30rem;
  margin-top: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  
}
.first-line{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  
}

.second-line{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

}
.third-line{
  display: flex;
  justify-content: space-between;

}
.third-line-one{
  padding: 1rem;
}

.third-line-two{
  display: flex;
}
.third-line-two-left{
  background-color: #f1f1f1;
  border-radius:0.4rem ;
  border: 1px solid #f1f1f1 ;
  padding: 1rem;
  

}


.btn-blue-0{
  border: 1px solid blue;
  margin-left: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  background-color: #1320DC;

  
}
.info2{
  border: white 1px solid;
  background-color: white;
  width: 60%;
  height: 150px;
  margin-left: 30rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  
}

.line-four{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.line-four-two{
  color: #1320DC;
}

.line-five{
  background-color:#f1f1f1 ;
  border-radius: 0.5rem;
  width: 30%;
  padding: 1rem;
  margin-top: 2rem;

}

.info3{
  border: white 1px solid;
  background-color: white;
  width: 60%;
  height: 200px;
  margin-left: 30rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  
}

.line-six{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.line-six-two{
  color: #1320DC;
}

.line-seven{
  display: flex;
  margin-top: 2rem;

}

.line-seven-one{
  border: #f1f1f1 1px solid;
  border-radius: 0.5rem;
  width: 40%;
  height: 100px;
  padding: 1.3rem;
}

.line-seven-two{
  border: #1320DC 1px solid;
  border-radius: 0.5rem;
  width: 35%;
  height: 100px;
  margin-left: 2rem;
  padding: 1.3rem;
}
#color{
  color:#77798C;
}

.items3{
  border: #77798C 1px solid;
  width: 40px;
  background-color: black;
  visibility: hidden;
}

.items3 img{
  margin-top: 1rem;
  width: 50%
  
}


@media screen and (max-width :1200px)  {
  .items3{
    visibility: visible;
  }

  .container-left{
    visibility: hidden;
  }
  #select-langue{
    visibility: hidden;
  }
  


  .foot{
    display: flex;
    flex-direction: column;
  }
  
 
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}